.loginContainer {

    color:white;
    width:40%;
    padding-left:30%;
    padding-right:30%;
    padding-top:10%;
    width:100%;
}
.loginWindow {
    background-color:#2F394D;
}
.loginButton {
    width:100%;
}